@import "normalize.css";
@import "./variables.scss";
@import "./mixins.scss";
@import "./menu.module.scss";
@import "./button.module.scss";
@import "./input.module.scss";
@import "./startScreen.module.scss";
@import "./tab.module.scss";
@import "./devices.module.scss";
@import "./headerHome.module.scss";

body {
  margin: 0;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // вынести в общее св-ва
  // display: flex;
  // justify-content: center;
  // align-items: center;
  overflow: hidden;
  height: 100%;
  // border: 2px solid #888888;
}

code {
  font-family: $font;
}

.container {
  // вынести в общее св-ва
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  // обработать это правильно
  // min-height: 100%;
  min-height: 667px;
}

header {
  display: flex;
  margin: 32px 20px 32px 20px;
}

.header_text {
  margin-right: 20px;
  flex: 1;
  text-align: center;
  @include text__body-small;
}

footer {
  text-align: center;
}

.footer_text {
  margin-bottom: 8px;
}

section {
  // вынести в общее св-ва
  display: flex;
  flex-direction: column;
  overflow: hidden;

  // Убрать после адаптива
  // border: 2px solid #888888;
  min-width: 375px;
}

.text {
  // вынести в константу
  margin: 0px 20px 0px 20px;
  &__h1 {
    // вынести цвет
    color: black;
    text-align: center;
    margin-bottom: 20px;
    // margin: var(--margin);
  }

  &__body {
    // вынести цвет
    color: #888888;
    text-align: center;
    // вынести в константу
    padding: 0 10px 0 10px;
    margin-bottom: 20px;

    @include text__body;
  }

  &__button {
    @include text__button;
  }

  &__button-small {
    @include text__button-small;
  }

  &__body-medium {
    @include text__body-medium;
  }

  &__body-small {
    @include text__body-small;
  }

  &__body-caption {
    @include text__body-caption;
  }

  &__navigation {
    @include text__navigation;
  }
}

.desc__text {
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.desc__text-a {
  margin: auto 5px auto 5px;
  font-family: $font;
}

h1,
.text__h1 {
  @include text__h1;
}
