@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 99;
  background-color: #f5f7f9;
}
.menu__item {
  padding: 10px;
  margin: 8px;
  margin-bottom: 20px;
  border: none;
  background: none;
  text-decoration: none;
}
.menu__item__svg {
  text-align: center;
  margin-bottom: 3px;
  color: #888888;
}
.menu__item__text {
  font-size: 10px;
  line-height: 18px;
  font-weight: 500;
  color: #b4b4b4;
  text-align: center;
  white-space: nowrap;
}

.svg-active {
  color: #7445d0;
}

.menu__item__text-active {
  color: #000000;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.btn__primary,
.btn__secondary,
.btn__disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  min-height: 52px;
}

.btn__primary {
  background: #7445d0;
  color: #ffffff;
  border: none;
}
.btn__primary:active {
  background: #5a2bb5;
}

.btn__secondary {
  background: #ffffff;
  color: #7445d0;
  border: 1px solid #7445d0;
}
.btn__secondary:active {
  color: #5a2bb5;
  border: 1px solid #5a2bb5;
}

.btn__primary[disabled] {
  background: #e9ebed;
  color: #b4b4b4;
  border: none;
}

.btn__secondary[disabled] {
  background: #ffffff;
  color: #b4b4b4;
  border: 1px solid #b4b4b4;
}

.btn__small {
  background-color: #ffffff;
  color: #7445d0;
  border: none;
}
.btn__small:active {
  color: #5a2bb5;
}

.btn__small[disabled] {
  color: #b4b4b4;
}

.btn__link {
  color: #7445d0;
}

.btn__back {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.input__default {
  display: block;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  min-height: 48px;
  min-width: 100%;
  background: #ffffff;
  color: #b4b4b4;
  border: 1px solid #b4b4b4;
  padding: 0 0 0 20px;
}

.field__inner {
  position: relative;
}

.field-switch {
  position: absolute;
  top: 55%;
  right: 0px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}

.startScreen-image {
  display: flex;
  justify-content: center;
}

.swiper-container {
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.btn__tab {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  white-space: nowrap;
  border: none;
  outline: none;
  background: none;
  color: #b4b4b4;
  flex: 1;
}

.btn__tab-active {
  color: black;
  border-bottom: 2px solid #7445d0;
}

.devices-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.devices-container-swaiper {
  position: relative;
  overflow: hidden;
}

.Swiper__devices {
  width: 100%;
}

.Swiper__devices-slide {
  padding: 0;
  margin: 0;
}

.Swiper__Slide-delete {
  align-self: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  height: 100px;
  padding-right: 20px;
}

.device {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px 20px;
  border-bottom: 2px solid #f5f7f9;
}
.device-svg {
  padding: 0;
}
.device-svg-delete {
  padding-left: 0;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: none;
}
.device-name {
  padding-left: 10px;
  align-self: center;
  justify-self: start;
  margin-right: auto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.device-btn {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: none;
  margin-left: auto;
}
.device-btn-delete {
  padding-left: 0;
  border: none;
  background: none;
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

.device__add {
  display: flex;
  padding: 5px;
}
.device__add-svg {
  padding: 10px;
  margin-left: 10px;
  align-self: center;
}
.device__add-text {
  color: #7445d0;
}

.header__container {
  display: flex;
  flex-direction: column;
  background-color: #f5f7f9;
}
.header__container-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 20px;
}
.header__container-section-text {
  padding: 0;
  color: black;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

.swiper-container {
  position: relative;
  overflow: hidden;
}

.Swiper__tabs {
  max-width: 100%;
}

.Swiper__tabs-slide {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0 12px 0 20px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.btn__tab {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  white-space: nowrap;
  border: none;
  outline: none;
  background: none;
  padding-bottom: 5px;
  color: #b4b4b4;
  margin: 0;
  padding: 0;
}

.btn__tab-active {
  color: black;
  border-bottom: 2px solid #7445d0;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100%;
}

code {
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  margin: 32px 20px 32px 20px;
}

.header_text {
  margin-right: 20px;
  flex: 1;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

footer {
  text-align: center;
}

.footer_text {
  margin-bottom: 8px;
}

section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 375px;
}

.text {
  margin: 0px 20px 0px 20px;
}
.text__h1 {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}
.text__body {
  color: #888888;
  text-align: center;
  padding: 0 10px 0 10px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.text__button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.text__button-small {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
.text__body-medium {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.text__body-small {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.text__body-caption {
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
}
.text__navigation {
  font-size: 10px;
  line-height: 18px;
  font-weight: 500;
  color: #b4b4b4;
}

.desc__text {
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.desc__text-a {
  margin: auto 5px auto 5px;
  font-family: "Montserrat", sans-serif;
}

h1,
.text__h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}/*# sourceMappingURL=App.css.map */