.button-group {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}

.btn__primary,
.btn__secondary,
.btn__disabled {
  @include text__button;
  font: $font;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 8px;
  font-family: $font;
  margin-bottom: 10px;
  min-height: 52px;
}

.btn__primary {
  background: $primary-color;
  color: $element-color;
  border: none;
  &:active {
    background: $primary-dark-color;
  }
}

.btn__secondary {
  background: $element-color;
  color: $primary-color;
  border: 1px solid $primary-color;

  &:active {
    color: $primary-dark-color;
    border: 1px solid $primary-dark-color;
  }
}

.btn__primary[disabled] {
  background: $element-disabled-color;
  color: $text-blind-color;
  border: none;
}

.btn__secondary[disabled] {
  background: $element-color;
  color: $text-blind-color;
  border: 1px solid $text-blind-color;
}

.btn__small {
  background-color: $element-color;
  color: $primary-color;
  border: none;

  &:active {
    color: $primary-dark-color;
  }
}

.btn__small[disabled] {
  color: $text-blind-color;
}

.btn__link {
  color: $primary-color;
  text-decoration: none;
}

.bottom-element {
  margin-top: auto;
}
