.devices-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  // max-height: 400px;
}

.devices-container-swaiper {
  position: relative;
}

.Swiper__devices {
  width: 100%;
}

.Swiper__devices-slide {
  padding: 0;
  margin: 0;
}

// Слайд с иконкой удаления

.Swiper__Slide-delete {
  align-self: center;
  max-width: max-content;
  height: 100px;
  padding-right: 20px;
}

// Карточка устройства

.device {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px 20px;
  border-bottom: 2px solid $app-bg-color;

  &-svg {
    padding: 0;

    &-delete {
      padding-left: 0;
      width: 40px;
      height: 40px;
      border-radius: 30px;
      border: none;
    }

    // &-powerOn {
    //   padding-left: 0;
    // }
  }

  &-name {
    padding-left: 10px;
    align-self: center;
    justify-self: start;
    margin-right: auto;

    @include text__body;
  }

  &-btn {
    padding-left: 0;

    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: none;
    border: none;
    margin-left: auto;

    &-delete {
      padding-left: 0;
      border: none;
      background: none;
      width: 40px;
      height: 40px;
      border-radius: 30px;
    }
  }
}

// Добавить устройство

.device-add {
  display: flex;
  padding: 5px;

  &-svg {
    padding: 10px;
    margin-left: 10px;
    align-self: center;
  }

  &-text {
    color: $primary-color;
    align-self: center;
    text-decoration: none;
  }
}
