.swiper-container {
  font-family: $font;
  position: relative;
}

.swiper-slide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.btn__tab {
  @include text__button-small;
  white-space: nowrap;
  border: none;
  outline: none;
  background: none;
  color: $text-blind-color;
  flex: 1;
}

.btn__tab-active {
  color: black;
  border-bottom: 2px solid #7445d0;
}
